{% macro landing(user) %}

<div class="jumbotron">
  <div class="well col-md-8 col-md-offset-2 text-center">
    <h1>Two Cans!</h1>
    {% if user.is_authenticated %}
    <p><a class="btn btn-primary btn-lg" href={{ url_for("logout") }} role="button">Logout</a></p>
    {% else %}
    <p><a class="btn btn-primary btn-lg" href={{ url_for("login") }} role="button">
        <span class="glyphicon glyphicon-off"></span> Login
    </a></p>
    <p><a class="btn btn-primary btn-lg" href={{ url_for("register")}} role="button">
        <span class="glyphicon glyphicon-user"></span> Register
    </a></p>
    {% endif %}
  </div>
</div>

{% endmacro %}
