<!DOCTYPE html>

<html>
  <head>
    {% from "_bootstrap.html" import bootstrap %}
    {{ bootstrap() }}

    <link rel="stylesheet" href="../assets/style.css.sass">
  </head>

  <body>

    {% from "_navbar.html" import navbar %}
    {{ navbar() }}
    
    {% from "_landing.html" import landing %}
    {{ landing(current_user) }}
    
  </body>
</html>
