{% macro render_field(field) %}

<div class="field">
  {% if field.errors %}
    {% for error in field.errors %}
    <div class="notification error">
      {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  {{ field(placeholder=field.label.text) }}
</div>

{% endmacro %}
