{% from 'macros.html' import render_field %}

<form method="POST" action="" class="register_form">
  {{ form.hidden_tag() }}
  {% for field in form %}
    {{ render_field(field) }}
  {% endfor %}

  <button type="submit" id="submit">Register</button>
</form>
